<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Learning how to code is what I am currently working on. I plan on making this my career and how I live my life.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

